In [1]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, confusion_matrix
import pandas as pd

print("//Shivam Keshri")
print("//20bcs9337")

//Shivam Keshri
//20bcs9337

In [2]:
data = pd.read_csv("Social_Network_Ads.csv")

In [3]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
data.drop(['User ID','Gender'],inplace = True,axis=1)
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [5]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [6]:
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [7]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [18]:
model = DecisionTreeClassifier()

In [19]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [20]:
y_pred = model.predict(x_test)
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))


from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix: \n",cm)

Accuracy :  0.8375
Confusion Matrix:
 [[46  6]
 [ 7 21]]

In [21]:
from sklearn.ensemble import RandomForestClassifier
x_train1,x_test1,y_train1,y_test1 = train_test_split(x,y,test_size=0.2,random_state=4)

In [22]:
rf = RandomForestClassifier(random_state=42,max_depth=5,n_estimators=100)

In [23]:
rf.fit(x_train1,y_train1)

RandomForestClassifier(max_depth=5, random_state=42)

In [24]:
y_pred1 = dt.predict(x_test1)
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test1, y_pred1))


from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test1, y_pred1)
print("Confusion Matrix: \n",cm)

Accuracy :  0.9625
Confusion Matrix:
 [[57  2]
 [ 1 20]]